<p>Indicator Chart</p>

<app-indicator-charts [percent]="20" [fontsize]="150" [animated]="true" [customClass]="'cusindicator'">
</app-indicator-charts>



<app-indicator-charts [percent]="60" [fontsize]="150" [animated]="true" [customClass]="'cusindicator'">
</app-indicator-charts>


<app-indicator-charts [percent]="80" [fontsize]="150" [animated]="true" [customClass]="'cusindicator'">
</app-indicator-charts>

<app-indicator-charts [percent]="100" [fontsize]="150" [animated]="true" [customClass]="'cusindicator'">
</app-indicator-charts>